* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #121212;
    color: white;
}

/* LAYOUT */
.app {
    display: flex;
    height: calc(100vh - 100px);
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #000;
    padding: 20px;
}

.sidebar li {
    list-style: none;
    padding: 12px 0;
    color: #b3b3b3;
    cursor: pointer;
}

.sidebar li.active,
.sidebar li:hover {
    color: white;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.playlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    background: #181818;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 6px;
}

/* PLAYER */
.player {
    height: 100px;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.song-info img {
    width: 55px;
    border-radius: 6px;
}

.player-center {
    text-align: center;
}

.controls button {
    background: none;
    border: none;
    color: #b3b3b3;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}

.controls button:hover {
    color: white;
}

.play {
    background: white;
    color: black !important;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#progress {
    width: 300px;
}

.volume input {
    width: 100px;
}
